parameters:
		# Rules
		treatPhpDocTypesAsCertain: false
		inferPrivatePropertyTypeFromConstructor: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true

		# Configuration
		level: 8
		phpVersion:
			min: 70400
			max: 80400
		bootstrapFiles:
			- mcp-adapter.php
		paths:
				- src/
		scanDirectories:
			- ../abilities-api
		excludePaths:
			analyse:
				- tests/
				- vendor/
			analyseAndScan:
				- node_modules (?)

		ignoreErrors:
			- # TODO: These are too noisy, we'll restore them in the future.
				identifier: missingType.iterableValue
